Debug/
*.xcf
*.gif
*.pyxel
*.user
src/fonts/
build/
samples/
cmake-build*/
src/dependencies/
src/data/fun/
src/data/skyboxes/
src/data/models/
src/data/hardwood.jpg
src/data/moon.png
src/data/PBR/
src/data/save.bin
imgui.ini
