Debug/
*.xcf
*.gif
*.pyxel
*.user
src/data/fun/
src/data/skyboxes/
src/data/models/
src/fonts/
build/
cmake-build-debug/

src/data/floor.jpg
src/data/cement.png
src/data/brick.jpg
src/data/brick_normal.jpg
src/data/hardwood.jpg
src/data/moon.png
src/data/PBR/